#Configuration file for the config of your outgoing connections to the world
#for linux change the name of the file to "config and copy it to $HOME/.ssh/config
# that will do the job, on mac ~/.ssh/config
host *
  Compression yes
  ConnectTimeout 5
  LogLevel DEBUG
  ServerAliveInterval 180
  ServerAliveCountMax 7
  TCPKeepAlive yes
  ForwardX11 yes
  StrictHostKeyChecking no
  ControlMaster auto
  ControlPersist yes

